header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
  img {
    height: 60px;
  }

  li {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 34px;
    color: $primary-color;
  }
}
