$primary-color: #ff6060;
@import "./pages/error";
@import "./components/header";
@import "./components/footer";
@import "./components/navBar";
@import "./components/herobanner";
@import "./components/lodgings/lodgings";
@import "./components/lodgings/lodging";
@import "./components/lodgings/lodgingCard";

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 62.5%;
  height: 100vh;
}

#root {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-height: 100%;
}

header {
  padding: 0 100px;
  @media screen and (max-width: 776px) {
    padding: 0 20px;
  }
}

main {
  padding: 0 100px 210px;
  @media screen and (max-width: 776px) {
    padding: 0 20px 210px;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
